@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #ffffff;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}